body{
  background: rgb(50,50,50);
  color: white;
}

.App{
  text-align: center;
  padding: 5%;
}
.app-header{
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
  margin: 2%;
}
.profileImage{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 5%;
  border: 3px solid black;
}
